<%- if controller_name != 'sessions' %>
  <h6><%= link_to "Sign in with existing account", new_session_path(resource_name) %></h6>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <h6><%= link_to "Create account (Sign up)", new_registration_path(resource_name) %></h6>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <h6><%= link_to "Forgot your password?", new_password_path(resource_name) %></h6>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <h6><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></h6>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <h6><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %></h6>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <h6><%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%></h6>
<% end -%>
