<%= simple_form_for(@survey) do |f| %>
  <%= f.error_notification %>

  <div class="form-actions">
    <%= f.button :submit, "Save" %>
  </div>

  <div class="form-inputs">
    <fieldset>
        <legend>Personnel Information</legend>
        <div class="row">
            <div class="large-4 columns">
                <label>Name of person completing survey:</label>
                <%= f.text_field :completing_name %>
            </div>
            <div class="large-4 columns">
                <label>Title of person completing survey:</label>
                <%= f.text_field :completing_title %>
            </div>
            <div class="large-4 columns">
                <label>Email of person completing survey:</label>
                <%= f.text_field :completing_email %>
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <label>Name of person to contact with questions:</label>
                <%= f.text_field :contact_name %>
            </div>
            <div class="large-4 columns">
                <label>Title of person to contact with questions:</label>
                <%= f.text_field :contact_title %>
            </div>
            <div class="large-4 columns">
                <label>Email of person to contact with questions:</label>
                <%= f.text_field :contact_email %>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Server Information - Hardware</legend>
        <div class="row">
            <div class="large-10 columns">
                <label>How many servers does your agency have?</label>
            </div>
            <div class="large-2 columns">
                <%= f.number_field :num_servers %>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="large-12 columns">
                <label>Please indicate the type(s) of servers your agency has (e.g., Poweredge T420, IBM AIX, etc.).</label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
        <%= f.text_area :type_servers %>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Server Information - Facilities</legend>
        <div class="row">
            <div class="large-10 columns">
                <label>In how many locations does your agency have servers?</label>
            </div>
            <div class="large-2 columns">
                <%= f.number_field :num_locations %>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="large-10 columns">
                <label>Are your agency’s servers located in the same workspace as agency staff/employees?</label>
            </div>
            <div class="large-1 columns">
                <label>Yes</label>
                <%= f.radio_button :colocated, "true" %>
            </div>
            <div class="large-1 columns">
                <label>No</label>
                <%= f.radio_button :colocated, "false" %>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="large-10 columns">
                <label>Are your agency’s servers located in a dedicated server facility?</label>
            </div>
            <div class="large-1 columns">
                <label>Yes</label>
                <%= f.radio_button :dedicated, "true" %>
            </div>
            <div class="large-1 columns">
                <label>No</label>
                <%= f.radio_button :dedicated, "false" %>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="large-12 columns">
                <label><p>Are your agency’s server(s) located in state owned or leased space? Please check all that apply. Please also and indicate the estimated square feet dedicated to your agency's servers in each location:</p></label>
            </div>
        </div>
        <div class="row">
            <div class="large-2 columns">
                <%= f.input :state_owned %>
            </div>
            <div class="large-1 columns">
                <label for="state-owned-sqft" class="right inline">Sq. ft.</label>
            </div>
            <div class="large-2 columns">
                <%= f.number_field :state_owned_sqft, id: 'state-owned-sqft' %>
            </div>
            <div class="large-7 columns">
            </div>
        </div>
        <div class="row">
            <div class="large-2 columns">
                <%= f.input :leased %>
            </div>
            <div class="large-1 columns">
                <label for="leased-sqft" class="right inline">Sq. ft.</label>
            </div>
            <div class="large-2 columns">
                <%= f.number_field :leased_sqft, id: 'leased-sqft' %>
            </div>
            <div class="large-7 columns">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="large-10 columns">
                <label>Does your agency’s server location have physical access control(s) (e.g., locking doors, badge readers, etc.)?</label>
            </div>
            <div class="large-1 columns">
                <label>Yes</label>
                <%= f.radio_button :access_control, "true" %>
            </div>
            <div class="large-1 columns">
                <label>No</label>
                <%= f.radio_button :access_control, "false" %>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="large-10 columns">
                <label>Does your agency have a central Uninterrupted Power Supply (UPS) for its servers?</label>
            </div>
            <div class="large-1 columns">
                <label>Yes</label>
                <%= f.radio_button :ups, "true" %>
            </div>
            <div class="large-1 columns">
                <label>No</label>
                <%= f.radio_button :ups, "false" %>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="large-10 columns">
                <label>Are your agency’s servers housed within an environmentally controlled space?</label>
            </div>
            <div class="large-1 columns">
                <label>Yes</label>
                <%= f.radio_button :envir_ctrl, "true" %>
            </div>
            <div class="large-1 columns">
                <label>No</label>
                <%= f.radio_button :envir_ctrl, "false" %>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="large-10 columns">
                <label>Are your agency’s servers connected to a backup generator?</label>
            </div>
            <div class="large-1 columns">
                <label>Yes</label>
                <%= f.radio_button :generator, "true" %>
            </div>
            <div class="large-1 columns">
                <label>No</label>
                <%= f.radio_button :generator, "false" %>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="large-10 columns">
                <label>Are your agency’s servers housed within a facility that has a fire suppression system?</label>
            </div>
            <div class="large-1 columns">
                <label>Yes</label>
                <%= f.radio_button :fire, "true" %>
            </div>
            <div class="large-1 columns">
                <label>No</label>
                <%= f.radio_button :fire, "false" %>
            </div>
        </div>
        <hr>
        <%= f.input :data_server %>
        <%= f.input :data_san %>
        <%= f.input :total_capacity %>
        <%= f.input :used_capacity %>
    </fieldset>
    <%= f.input :backup %>
    <%= f.input :local_backup %>
    <%= f.input :central_backup %>
    <%= f.label :freq_backup_daily, "Daily" %>
    <%= f.radio_button :freq_backup, "daily" %>
    <%= f.label(:freq_backup_daily, "Weekly") %>
    <%= f.radio_button(:freq_backup, "weekly") %>
    <%= f.label(:freq_backup_daily, "Monthly") %>
    <%= f.radio_button(:freq_backup, "monthly") %>
    <%= f.label(:freq_backup_daily, "Other") %>
    <%= f.radio_button(:freq_backup, "other") %>
    <%= f.input :freq_backup_other %>
    <%= f.input :who_manages %>
    <%= f.input :who_manages_other %>
    <%= f.input :hard_maint %>
    <%= f.input :hard_maint_amt %>
    <%= f.input :soft_maint %>
    <%= f.input :soft_maint_amt %>
    <%= f.input :contractor_support %>
    <%= f.input :contractor_support_amt %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save" %>
  </div>
<% end %>
