<p id="notice"><%= notice %></p>

<p>
  <strong>Completing name:</strong>
  <%= @survey.completing_name %>
</p>

<p>
  <strong>Completing title:</strong>
  <%= @survey.completing_title %>
</p>

<p>
  <strong>Completing email:</strong>
  <%= @survey.completing_email %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @survey.contact_name %>
</p>

<p>
  <strong>Contact title:</strong>
  <%= @survey.contact_title %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @survey.contact_email %>
</p>

<p>
  <strong>Num servers:</strong>
  <%= @survey.num_servers %>
</p>

<p>
  <strong>Type servers:</strong>
  <%= @survey.type_servers %>
</p>

<p>
  <strong>Num locations:</strong>
  <%= @survey.num_locations %>
</p>

<p>
  <strong>Colocated:</strong>
  <%= @survey.colocated %>
</p>

<p>
  <strong>Dedicated:</strong>
  <%= @survey.dedicated %>
</p>

<p>
  <strong>State owned:</strong>
  <%= @survey.state_owned %>
</p>

<p>
  <strong>State owned sqft:</strong>
  <%= @survey.state_owned_sqft %>
</p>

<p>
  <strong>Leased:</strong>
  <%= @survey.leased %>
</p>

<p>
  <strong>Leased sqft:</strong>
  <%= @survey.leased_sqft %>
</p>

<p>
  <strong>Access control:</strong>
  <%= @survey.access_control %>
</p>

<p>
  <strong>Ups:</strong>
  <%= @survey.ups %>
</p>

<p>
  <strong>Envir ctrl:</strong>
  <%= @survey.envir_ctrl %>
</p>

<p>
  <strong>Generator:</strong>
  <%= @survey.generator %>
</p>

<p>
  <strong>Fire:</strong>
  <%= @survey.fire %>
</p>

<p>
  <strong>Data server:</strong>
  <%= @survey.data_server %>
</p>

<p>
  <strong>Data san:</strong>
  <%= @survey.data_san %>
</p>

<p>
  <strong>Total capacity:</strong>
  <%= @survey.total_capacity %>
</p>

<p>
  <strong>Used capacity:</strong>
  <%= @survey.used_capacity %>
</p>

<p>
  <strong>Backup:</strong>
  <%= @survey.backup %>
</p>

<p>
  <strong>Local backup:</strong>
  <%= @survey.local_backup %>
</p>

<p>
  <strong>Central backup:</strong>
  <%= @survey.central_backup %>
</p>

<p>
  <strong>Freq backup:</strong>
  <%= @survey.freq_backup %>
</p>

<p>
  <strong>Freq backup other:</strong>
  <%= @survey.freq_backup_other %>
</p>

<p>
  <strong>Who manages:</strong>
  <%= @survey.who_manages %>
</p>

<p>
  <strong>Who manages other:</strong>
  <%= @survey.who_manages_other %>
</p>

<p>
  <strong>Hard maint:</strong>
  <%= @survey.hard_maint %>
</p>

<p>
  <strong>Hard maint amt:</strong>
  <%= @survey.hard_maint_amt %>
</p>

<p>
  <strong>Soft maint:</strong>
  <%= @survey.soft_maint %>
</p>

<p>
  <strong>Soft maint amt:</strong>
  <%= @survey.soft_maint_amt %>
</p>

<p>
  <strong>Contractor support:</strong>
  <%= @survey.contractor_support %>
</p>

<p>
  <strong>Contractor support amt:</strong>
  <%= @survey.contractor_support_amt %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
