<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Nevada Department of Administration - IT Spend Survey <%= content_for?(:title) ? yield(:title) : "" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= javascript_include_tag 'http://www.google.com/jsapi' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
        <%- if user_signed_in? %>
          <%= render 'users/shared/user_nav_bar' %>
        <%- end %>

        <%- if admin_signed_in? %>
          <%= render 'admins/shared/admin_nav_bar' %>
        <%- end %>

    <div class="row">
      <div class="large-12 columns">

        <%= yield %>
      </div>
    </div>

    <div class="row">
      <center><p style="font-size: .8em">Nevada Department of Administration | web: <a href="http://admin.nv.gov" target="_new">admin.nv.gov</a>
        <br>Problems with this website? email: <a href="mailto:rcook@admin.nv.gov">rcook@admin.nv.gov</a></center>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
